bin/
obj/
bin/Debug/net10.0/CrystalCaverns.dll
bin/Debug/net10.0/CrystalCaverns.exe
bin/Debug/net10.0/CrystalCaverns.pdb
obj/Debug/net10.0/apphost.exe
obj/Debug/net10.0/CrystalCaverns.AssemblyInfo.cs
obj/Debug/net10.0/CrystalCaverns.AssemblyInfoInputs.cache
obj/Debug/net10.0/CrystalCaverns.dll
obj/Debug/net10.0/CrystalCaverns.pdb
obj/Debug/net10.0/CrystalCaverns.sourcelink.json
obj/Debug/net10.0/ref/CrystalCaverns.dll
obj/Debug/net10.0/refint/CrystalCaverns.dll
